{
  // "extends": [
  //   "nevermined"
  // ],
  "extends": [
    "plugin:@typescript-eslint/recommended"
  ],  
  "parser": "@typescript-eslint/parser",
  "overrides": [
    {
      "files": ["*.ts", "*.tsx"],
      "parserOptions": {
        "project": "./tsconfig.eslint.json"
      }
    }, {
      "files": ["tests/**/*", "integration/**/*"],
      "plugins": ["jest"],
      "env": {
        "jest/globals": true
      }
    }
  ],
  "rules": {    
    "@next/next/no-html-link-for-pages": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-unnecessary-type-constraint": "off",    
    "@typescript-eslint/ban-types": "off",
    "@typescript-eslint/ban-ts-comment": "off",
    "@typescript-eslint/triple-slash-reference": "off",
    "@typescript-eslint/no-unused-vars": [
      "error", {
         "argsIgnorePattern": "^_",
         "varsIgnorePattern": "^_",
         "caughtErrorsIgnorePattern": "^_"
    }]
  },
  "ignorePatterns": ["test/resources/proxy-poc/*", "docs/*"]
}
