{
  "env": {
    "browser": true,
    "es6": true,
    "mocha": true
  },
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "plugin:mdx/recommended",
    "prettier"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": false
    },
    "project": [
      "./tsconfig.json",
      "./test/tsconfig.json",
      "./integration/tsconfig.json",
      "./aave_integration/tsconfig.json"
    ],
    "sourceType": "module"
  },
  "plugins": [
    "@typescript-eslint",
    "eslint-plugin-tsdoc",
    "prettier"
  ],
  "rules": {
    "@typescript-eslint/ban-ts-ignore": "off",
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/explicit-member-accessibility": "off",
    "@typescript-eslint/indent": "off",
    "@typescript-eslint/no-empty-function": "off",
    "@typescript-eslint/member-delimiter-style": [
      "error",
      {
        "multiline": {
          "delimiter": "none"
        }
      }
    ],
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-inferrable-types": "off",
    "@typescript-eslint/no-non-null-assertion": "off",
    "@typescript-eslint/no-object-literal-type-assertion": "off",
    "@typescript-eslint/no-parameter-properties": "off",
    "@typescript-eslint/no-use-before-define": "off",
    "@typescript-eslint/no-var-requires": "off",
    "@typescript-eslint/no-useless-constructor": "warn",
    "@typescript-eslint/no-unused-vars": [
      "error", {
         "argsIgnorePattern": "^_",
         "varsIgnorePattern": "^_",
         "caughtErrorsIgnorePattern": "^_"
    }],
    "no-unused-vars": "off",
    "no-dupe-class-members": [
      "warn"
    ],
    "no-empty": [
      "error",
      {
        "allowEmptyCatch": true
      }
    ],
    "no-restricted-properties": [
      2,
      {
        "object": "describe",
        "property": "only"
      },
      {
        "object": "it",
        "property": "only"
      }
    ],
    "no-useless-constructor": [
      "off"
    ],
    "prefer-destructuring": [
      "warn"
    ],
    "prettier/prettier": "warn",
    "tsdoc/syntax": "off"
  },
  "overrides": [
    {
      "files": ["./test/**/*.ts"],
      "rules": {
        "@typescript-eslint/no-unused-vars": "warn"
      }
    },
    {
      "files": ["*.mdx", "*.md"],
      "extends": ["plugin:mdx/recommended"],
      // optional, if you want to lint code blocks at the same time
      "settings": {
        "mdx/code-blocks": true
        // optional, if you want to disable language mapper, set it to `false`
        // if you want to override the default language mapper inside, you can provide your own
        // "mdx/language-mapper": {}
        }
    }
  ]
}

