node_modules/
dist/
.nyc_output/
coverage/
doc/
test/**/*.js
!test/resources/proxy-poc/*.js
!test/resources/artifacts/*.json
src/**/*.js
package-lock.json
# yarn.lock
.vscode

src/metadata\.json
.idea
*.log
circuits
artifacts
*.tgz
.env*
